.details {
  &-left {
    width: 10%;
  }

  &-box-shadow {
    padding: 2.4rem;
    background-color: $white;
    border-radius: 0.8rem;
    box-shadow: 0px 0.2rem 0.8rem rgba(0, 0, 0, 0.15);
  }

  &-social {
    a {
      width: 4.8rem;
      height: 4.8rem;
      background-color: $grey-40;
      border-radius: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1.6rem;

      img {
        width: 2.2rem;
        height: 2.2rem;
        display: block;
      }

      i {
        font-size: 1.6rem;
        color: #4c4e5d;
      }
    }
  }

  &-mid {
    width: 90%;
  }

  &-title {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem;
    color: $text-grey;
    margin-bottom: 1.6rem;
  }

  &-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.2rem;
  }

  &-name {
    font-size: 1.6rem;
    color: $grey-80;
    font-weight: bold;
    line-height: 2.4rem;
    font-family: $font__Roboto;
    margin-right: 0.8rem;
  }

  &-view {
    background-color: $blue-light;
    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.2rem;
    color: $blue;
    margin-right: 3.2rem;
  }

  &-date {
    font-size: 1.2rem;
    font-family: $font__Roboto;
    color: $grey-80;
  }

  &-user-socail {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.2rem;
    color: $grey-80;
    font-weight: 700;
    margin-right: 1.2rem;

    i {
      color: $orange;
    }
  }

  &-desc {
    font-size: 1.4rem;
    color: $text-grey;
    line-height: 2.4rem;
    font-weight: 500;
    margin-bottom: 1.6rem;
  }

  &-img {
    margin-bottom: 1.6rem;
  }

  &-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.6rem;
    border-bottom: 0.1rem solid $grey-40;
    margin-bottom: 2.4rem;
  }

  &-save {
    padding: 0.6rem 0.8rem;
    border-radius: 0.8rem;
    background-color: $grey-40;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8rem;

    i {
      margin-right: 0.4rem;
    }
  }

  &-links {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 1.4rem;
      line-height: 1.8rem;
      color: $secondary-100;
      font-weight: normal;
      margin-right: 1.6rem;
    }

    a {
      width: 2.4rem;
      height: 2.4rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-right: 1.6rem;
    }

    i {
      font-size: 1.8rem;
      color: #4c4e5d;
    }
  }

  &-text {
    padding-bottom: 0.8rem;
    border-bottom: 0.1rem solid $grey-40;
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 400;
    font-family: $font__Roboto;
    color: $red;
    padding: 0 2.5rem;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 0.7rem;
      height: 0.8rem;
      border-radius: 100%;
      background-color: $red;
      color: $white;
      left: 1.2rem;
    }
  }

  &-tag-main {
    margin-top: 1.8rem;
    padding-bottom: 2.4rem;
    border-bottom: 0.1rem solid $grey-40;
  }

  &-tags {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-family: $font__Roboto;
    font-weight: 400;
    margin-right: 0.8rem;
    color: $black;
  }

  &-menu {
    padding: 0.8rem 1.2rem;
    background-color: $grey-40;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 600;
    border-radius: 1.6rem;
    color: $black-100;
    margin-right: 0.8rem;
  }

  &-user-comment {
    margin-top: 1.6rem;
    padding-bottom: 1.6rem;
    border-bottom: 0.1rem solid $grey-40;

    &-title {
      color: $secondary-100;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 2.4rem;
      margin-bottom: 1.6rem;
    }
  }

  &-your-comment {
    width: 100%;
    outline: none;
    border: none;
    margin-bottom: 2.4rem;
    margin-top: 1.6rem;
    background-color: $grey-40;
    border-radius: 0.8rem;
    height: 8rem;
    padding: 1.6rem;

    ::placeholder {
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 2.2rem;
      color: $grey-70;
    }
  }

  &-rate-comment {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    i {
      color: $orange;
      font-size: 1.8rem;
      margin-right: 0.6rem;
    }
  }

  &-send-comment {
    padding: 0.9rem 2.4rem;
    background-color: $red;
    border-radius: 0.8rem;
    margin-left: 1.75rem;

    a {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2.2rem;
      color: $white;
    }
  }

  &-title-comments {
    margin-top: 2.4rem;
    padding-bottom: 1.6rem;
    border-bottom: 0.1rem solid $grey-40;
  }

  &-user-name {
    color: $red;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 500;
  }

  &-desc-comment {
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: $grey-80;
    margin-top: 0.8rem;
    margin-bottom: 1.6rem;
  }

  &-administration {
    display: flex;
    align-items: center;

    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 2.4rem;
      height: 2.4rem;

      img {
        width: 100%;
        height: 100%;
        margin-right: 0.8rem;
      }
    }
  }

  &-administration-name {
    color: $text-grey;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 500;
  }

  &-pos {
    border-radius: 0.4rem;
    padding: 0.3rem 0.8rem;
    border: 0.1rem solid $red;
    margin-left: 0.9rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 400;
    color: $red;
  }

  &-attitude-assessment {
    display: flex;
    a {
      display: flex;
      align-items: center;
      margin-right: 1.8rem;
      font-size: 1.2rem;
      line-height: 1.8rem;
      font-weight: 400;
      color: $blue;
      i {
        color: $grey-80;
        margin-right: 0.4rem;
        font-size: 1.8rem;
      }
    }
  }

  &-add {
    margin-top: 1.6rem;
    display: flex;
    justify-content: center;

    a {
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-weight: 600;
      color: $text-grey;
      display: inline-flex;
      align-items: center;

      i {
        font-size: 2.2rem;
        color: $red;
        margin-left: 0.4rem;
      }
    }
  }
}
