$text-grey: #383f47;
$black: #000000;
$black-100: #151516;
$red: #d1193f;
$white: #ffffff;
$bg-footer: #f7f7f7;
$bg-body: #e5e5e5;
$grey-40: #ecedf1;
$grey-60: #b0b5c1;
$grey-70: #9399a9;
$grey-80: #646d84;
$orange: #f39b13;
$green: #05a85e;
$purple: #6a71e5;
$blue: #0091fe;
$blue-light: #cce9ff;
$red-light: #ffdae1;
$orange-light: #fdebd0;
$green-light: #cdeedf;
$secondary-100: #4c4e5e;
$secondary-20: #d4d4d6;
$font__Roboto: "Roboto", sans-serif;
$font-Roboto: "Roboto+Condensed", sans-serif;
// body {
//   background-color: $bg-body;
// }
